@charset "utf-8";
html, body,
ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


body {
    color:black;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

*{
    box-sizing:border-box;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:black;
    display:inline-block;

}

.inner{
    max-width:1000px;
    margin:0 auto;
    padding:0 16px;
}

header{
    display:flex;
    justify-content:space-between;
    height:80px;
}

.header-logo h1{
    font-size:40px;
    line-height:80px;
}

.navigation ul{
    display:flex;
}

.navigation li{
    padding:0 60px 0 0;
    line-height:80px;
    font-size:25px;
}

.navigation li:last-child{
    padding-right:0;
}

#main-visual img{
    width:100%;
    height:calc(100vh-80px);
}

#skills{
    margin-top:100px;
}

.sec-title{
    text-align:center;
    font-size:30px;
    padding-bottom:40px;
}

h3{
    font-size:20px;
}

#skills p{
    padding-left:20px;
    font-size:15px;
}

#works{
    margin:100px 0;
    background:#dcdcdc;
    padding:40px 0;

}

.works-contents{
    display:flex;
    justify-content:space-between;
}

.works-content{
    width:100px;
}

footer{
    text-align:center;
    margin-bottom:10px;
}

@media(max-width:800px){
    .navigation li{
        font-size:15px;
        padding-right:30px;
    }
    .works-contents{
        flex-direction:column;
    }
    .works-content{
        width:100%;
        padding-bottom:100px;
    }
}

@media(max-width:600px){
    .navigation li{
        display:none;
    }
}
